<div class="author">
    <h1 class="author__heading">Hi I am not Raddy</h1>
    <p class="author__body">Not Raddy's body</p>
</div>

<img src="/img/stuart-pearce.jpeg" alt="" class="hero-img" width="750">

<section class="article-ul">
    <h2 class="article__heading">Latest Post</h2>
    <ul>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="" class="pagination">&lt; View older Posts</a>
</section>